---
layout: default
title:  Prodesk
permalink: /
active: home

---
  {% include google_product_meta.html %}
  {% assign prodesk = site.data.products.prodesk %}
  
  <section class="section-with-gradient" data-pages="parallax">
    <div class="container">
      <div class="row sm-text-center">
        <div class="col-md-5 visible-xs">
          <img class="lazy home-section-image__right img-responsive" 
          src="./images/products/table-front-left.png" data-swiper-parallax="-20%" alt="">
        </div>

        <div class="col-md-7 p-t-80 p-b-100 sm-p-t-10 sm-p-b-40">
          <h1 class="light text-white sm-no-margin" data-swiper-parallax="-15%">
            A standing desk that <span class="semi-bold">works for you!</span>
          </h1>
          <div class="block-title text-white">Stand-up for the right reasons</a>
          </div>
        </div>
        <div class="col-md-5 text-center p-t-50 p-b-100 hidden-xs">
          <img class="lazy home-section-image__right img-responsive" 
          src="./images/products/table-front-left.png" data-swiper-parallax="-20%" alt="">
        </div>     
      </div>
    </div>
  </section>

  <section>
    <div class="container-sm-height">
      <div class="row row-sm-height sm-m-l-15 sm-m-r-15">
        <div class="col-sm-6 col-lg-4 col-md-5 col-sm-height col-middle sm-text-center">
          <img class="p-r-40 sm-m-b-20 xs-image-responsive-height sm-no-padding lazy img-responsive"
            src="./images/products/table-front-left-with-mon.png" alt="">
        </div>
        <div class="col-sm-6 col-sm-height col-middle col-lg-4 col-md-4 xs-text-center sm-p-l-30">
          <!--<h1 class="light md-no-margin sm-m-t-30">What you get</h1>-->
          <h6 class="block-title">Built with the Best</h6>
          <p class="m-t-15">Using premium materials, making it lightweight, strong, water & termite proof.
            100% recyclable - because we care.
          </p>

          <h6 class="block-title m-t-40">Quick & Easy setup</h6>
          <p class="m-t-15">With just a few unfolds and adjustments, ProDesk comes to life in under 30 seconds
            and stands with you, ready to get working...</p>

          <h6 class="block-title m-t-40">Affordable</h6>
          <p class="m-t-15">Burn calories, not your pockets. At just <strong><i class="fa fa-inr"></i>{{prodesk.price}}</strong>*<strong>/-</strong>. <br/>
            ProDesk makes sure you get a better posture at a pocket friendly pricetag. <small class="small-text"> * Excluding tax.</small>
          </p>

          <h6 class="block-title m-t-40">Make in India 🇮🇳 </h6>
          <p class="m-t-15">Because home is where the heart belongs</p>

        </div>
        <div class="col-lg-2 col-md-1 hidden-sm"></div>
      </div>
    </div>
  </section>
  <section class="p-b-50 p-t-50">
    <div class="container">
       <div class="swiper-container js-swiper-container">
        <div class="swiper-wrapper">
           {% for image in prodesk.images %}
             <div class="swiper-slide">
                <img data-src="./images/products/{{image}}" class="swiper-lazy">
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>
            {% endfor %}
        </div>
        <div class="js-swiper-button-next swiper-button-next swiper-button-black"></div>
        <div class="js-swiper-button-prev swiper-button-prev swiper-button-black"></div>
      </div>
    </div>
  </section>
  <section class="p-b-50 p-t-50 bg-master-dark">
    <div class="container">
      <h2 class="text-white p-b-10">Help your employees to be <strong>healthy</strong> and <strong>productive</strong></h1>
      <p class="text-white m-t-30">
        ...by enabling them to stand up for the right reasons<br/>
        <a href="#contact" class="btn btn-sm btn-bordered fs-12 btn-white hidden-sm hidden-xs m-t-20">Request for a Demo</a></p>
    </div>
  </section>