<footer class="p-b-30 p-t-40 footer sm-text-center">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <img src="{{ site.baseurl }}/images/logo.svg" class="logo-size--lg" alt="">
                <h6 class="block-title m-t-15">Phoenix
                    <div class="small-text text-master">Imports & Exports</div>
                </h6>

            </div>
            <div class="col-sm-6 text-right sm-text-center p-t-40">
                <img src="{{ site.baseurl }}/images/mii.svg" class="logo-size--lg" alt="Make in india">
                <div class="m-t-10 ">
                    <ul class="no-style fs-11 no-padding font-arial">
                        <li class="inline no-padding">
                            <a href="http://www.makeinindia.com/home/" target="_blank" class="hint-text text-master p-l-10 p-r-10 xs-no-padding xs-m-t-10">
                            Make in India
                          </a></li>
                    </ul>
                </div>
                <p class="fs-11 muted">Copyright &copy; 2017</p>
            </div>
        </div>
    </div>
</footer>