<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Product",
  "name": "Prodesk.life",
  "image": "https://prodesk.life/images/products/table-front-left.png",
  "description": "{{ site.description }}",
  "height": "56cm",
  "width": "87cm",
  "brand": {
    "@type": "Thing",
    "name": "Prodesk.life"
  },
  "offers": {
    "@type": "Offer",
    "priceCurrency": "INR",
    "price": "6499",
    "availability": "http://schema.org/InStock",
    "seller": {
      "@type": "Organization",
      "name": "Prodesk.life"
    }
  }
}
</script>
