
{% assign prodesk = site.data.products.prodesk %}
{% assign testimonials = site.data.testimonials.prodesk %}
{% assign social = site.social %}

<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Product",
  "name": "{{site.name}}",
  "image": "{{site.url}}{{prodesk.main_image}}",
  "description": "{{ site.description }}",
  "height": "{{prodesk.height}}",
  "width": "{{prodesk.width}}",
  "brand": {
    "@type": "Thing",
    "name": "{{site.name}}"
  },
  "offers": {
    "@type": "Offer",
    "priceCurrency": "INR",
    "price": {{prodesk.price}},
    "availability": "http://schema.org/InStock",
    "seller": {
      "@type": "Organization",
      "name": "{{site.name}}"
    }
  }
}
</script>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "url": "{{site.url}}",
  "logo": "{{site.url}}/images/logo.svg",
  "contactPoint": [{
    "@type": "ContactPoint",
    "telephone": "{{social.phone}}",
    "contactType": "sales"
  }]
}
</script>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Person",
  "name": "{{site.name}}",
  "url": "{{site.url}}",
  "sameAs": [
    {% if social.facebook %}"http://www.facebook.com/{{social.facebook}}",{% endif %}
    {% if social.twitter %}"http://www.twitter.com/{{social.twitter}}"{% endif %}
  ]
}
</script>

{% for testimonial in testimonials %}
  {% unless testimonial.content.review == null %}
    <script type="application/ld+json"> {
    "@context": "http://schema.org/",
    "@type": "Review",
    "itemReviewed": {
      "@type": "Product",
      "image": "{{site.url}}{{prodesk.main_image}}",
      "name": "{{site.name}}"
    },
    "reviewRating": {
      "@type": "Rating",
      "ratingValue": "5"
    },
    "author": {
      "@type": "Person",
      "name": "{{testimonial.content.name}}"
    },
    "reviewBody": "{{testimonial.content.review}}",
    "publisher": {
      "@type": "Organization",
      "name": "{{testimonial.name}}"
    }
  }
  </script>
  {% endunless %}
{% endfor %}
