<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.5.0/velocity.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.5.0/velocity.ui.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.appear/0.3.3/jquery.appear.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/firebasejs/4.1.2/firebase.js"></script>


<script type="text/javascript" src="{{ site.baseurl }}/js/jquery.animateNumbers.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/image-loader.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/page.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/app.js"></script>
<script>
    var swiper = new Swiper('.js-swiper-container', {
        nextButton: '.js-swiper-button-next',
        prevButton: '.js-swiper-button-prev',
        slidesPerView: 3,
        spaceBetween: 30,
        zoom: true,
        freeMode: true,
        preloadImages: false,
        lazyLoading: true,
        breakpoints: {
            640: {
                slidesPerView: 1
            }
        }
    });
</script>