{% assign links = site.social %}


{% if links.facebook %}
    <a class="text-master m-r-20 block" 
    href="https://www.facebook.com/{{ links.facebook }}">
        <i class="fa fa-facebook-f"></i>
        Facebook
    </a>
{% endif %}
{% if links.instagram %}
    <a class="text-master m-r-20 block" 
    href="https://instagram.com/{{ links.instagram }}">
        <i class="fa fa-instagram"></i>
    </a>
{% endif %}
{% if links.linkedin %}
    <a class="text-master m-r-20 block" 
    href="https://www.linkedin.com/in/{{ links.linkedin }}">
        <i class="linkedin"></i>
    </a>
{% endif %}
{% if links.pinterest %}
    <a class="text-master m-r-20 block" 
    href="https://www.pinterest.com/{{ links.pinterest }}">
        <i class="pinterest"></i>
    </a>
{% endif %}
{% if links.rss %}
    <a class="text-master m-r-20 block" 
    href="{{ site.baseurl }}/feed.xml">
        <i class="rss"></i>
    </a>
{% endif %}
{% if links.twitter %}
    <a class="text-master m-r-20 block" 
    href="https://www.twitter.com/{{ links.twitter }}">
        <i class="fa fa-twitter"></i>
        Twitter
    </a>
{% endif %}
{% if links.youtube %}
    <a class="text-master m-r-20 block" 
    href="https://youtube.com/{{ links.youtube }}">
        <i class="youtube"></i>
    </a>
{% endif %}
{% if links.googleplus %}
    <a class="text-master m-r-20 block" 
    href="https://plus.google.com/{{ links.googleplus }}">
        <i class="googleplus"></i>
    </a>
{% endif %}