.header {
    position: fixed;
    top: 0;
    height: 60px;
    width: 100%;
    z-index: 800;
    background-color: #fff;
    -webkit-transition: background 0.4s ease, height 0.4s ease;
    transition: background 0.4s ease, height 0.4s ease;
}

.header.bottom {
    position: absolute;
    bottom: 0;
    top: auto;
}

.header.bottom.affix {
    position: fixed;
    bottom: auto;
    top: 0;
}

.header.transparent-light {
    background-color: transparent;
}

.header.transparent-light .menu>li>a:not(.btn) {
    color: #ffffff;
    opacity: 0.5;
}

.header.transparent-light .menu>li>a:not(.btn):focus {
    opacity: 0.8;
}

.header.transparent-light .menu>li>a:not(.btn):hover {
    opacity: 0.8;
}

.header.transparent-light .menu>li>a:not(.btn).active {
    opacity: 1;
}

.header.transparent-light .search-toggle {
    color: #ffffff;
}

.header.transparent-light .menu.bordered>li>a {
    border-color: #ffffff;
}

.header.transparent-light.alternate .menu>li>a:before {
    max-width: 100%;
}

.header.transparent-light.alternate span:before {
    max-width: 100%;
}

.header.transparent-light.alternate .search-toggle {
    color: #121212;
}

.header.transparent-light.alternate .menu-toggler .one,
.header.transparent-light.alternate .menu-toggler .two,
.header.transparent-light.alternate .menu-toggler .three {
    background-color: #121212;
}

.header.transparent-light.alternate.minimized .search-toggle {
    color: #ffffff;
}

.header.transparent-light.alternate.minimized .menu-toggler .one,
.header.transparent-light.alternate.minimized .menu-toggler .two,
.header.transparent-light.alternate.minimized .menu-toggler .three {
    background-color: #ffffff;
}

.header.transparent-light .menu-toggler .one,
.header.transparent-light .menu-toggler .two,
.header.transparent-light .menu-toggler .three {
    background-color: #ffffff;
}

.header.transparent-dark {
    background-color: transparent;
}

.header.transparent-dark.alternate .menu>li>a:before {
    color: #ffffff;
    max-width: 100%;
}

.header.transparent-dark.alternate .menu>li>a>span:before {
    color: #ffffff;
    max-width: 100%;
}

.header.transparent-dark.alternate .search-toggle {
    color: #ffffff;
}

.header.transparent-dark.alternate .menu-toggler .one,
.header.transparent-dark.alternate .menu-toggler .two,
.header.transparent-dark.alternate .menu-toggler .three {
    background-color: #ffffff;
}

.header.transparent-dark .menu>li>a {
    color: #121212;
    opacity: 0.5;
}

.header.transparent-dark .menu>li>a:focus {
    opacity: 0.8;
}

.header.transparent-dark .menu>li>a:hover {
    opacity: 0.8;
}

.header.transparent-dark .menu>li>a.active {
    opacity: 1;
}

.header.transparent-dark .search-toggle {
    color: #121212;
}

.header.transparent-dark .menu.bordered>li>a {
    border-color: #121212;
}

.header.dark-solid {
    background-color: #000000;
}

.header.dark-solid .menu>li>a:not(.btn) {
    color: #ffffff;
    opacity: 0.5;
}

.header.dark-solid .menu>li>a:not(.btn):focus {
    opacity: 0.8;
}

.header.dark-solid .menu>li>a:not(.btn):hover {
    opacity: 0.8;
}

.header.dark-solid .menu>li>a:not(.btn).active {
    opacity: 1;
}

.header.dark-solid .search-toggle {
    color: #ffffff;
}

.header.dark-solid .menu.bordered>li>a {
    border-color: #ffffff;
}

.header.dark-solid .menu-toggler .one,
.header.dark-solid .menu-toggler .two,
.header.dark-solid .menu-toggler .three {
    background: #ffffff;
}

.header.dark {
    background-color: rgba(0, 0, 0, 0.87);
}

.header.dark .menu>li>a:not(.btn) {
    color: #ffffff;
    opacity: 0.5;
}

.header.dark .menu>li>a:not(.btn):focus {
    opacity: 0.8;
}

.header.dark .menu>li>a:not(.btn):hover {
    opacity: 0.8;
}

.header.dark .menu>li>a:not(.btn).active {
    opacity: 1;
}

.header.dark .search-toggle {
    color: #ffffff;
}

.header.dark .menu.bordered>li>a {
    border-color: #ffffff;
}

.header.dark .menu-toggler .one,
.header.dark .menu-toggler .two,
.header.dark .menu-toggler .three {
    background: #ffffff;
}

.header.light-solid {
    border-bottom: 1px solid #f0f0f0;
    background-color: #ffffff;
}

.header.light-solid .menu>li>a:not(.btn) {
    color: #000000;
    opacity: 0.5;
}

.header.light-solid .menu>li>a:not(.btn):focus {
    opacity: 0.8;
}

.header.light-solid .menu>li>a:not(.btn):hover {
    opacity: 0.8;
}

.header.light-solid .menu>li>a:not(.btn).active {
    opacity: 1;
}

.header.light-solid .search-toggle {
    color: #000000;
}

.header.light-solid .menu.bordered>li>a {
    border-color: #000000;
}

.header.light-solid .menu-toggler .one,
.header.light-solid .menu-toggler .two,
.header.light-solid .menu-toggler .three {
    background: #000000;
}

.header.light {
    border-bottom: 1px solid #f0f0f0;
    background-color: #fafafa;
}

.header.light .menu>li>a:not(.btn) {
    color: #000000;
    opacity: 0.5;
}

.header.light .menu>li>a:not(.btn):focus {
    opacity: 0.8;
}

.header.light .menu>li>a:not(.btn):hover {
    opacity: 0.8;
}

.header.light .menu>li>a:not(.btn).active {
    opacity: 1;
}

.header.light .search-toggle {
    color: #000000;
}

.header.light .menu.bordered>li>a {
    border-color: #000000;
}

.header.light .menu-toggler .one,
.header.light .menu-toggler .two,
.header.light .menu-toggler .three {
    background: #000000;
}

.header.alternate .logo {
    display: none;
}

.header.alternate .alt {
    display: inline-block;
}

.header {
    height: 110px;
}

.header .header-inner {
    line-height: 110px;
}

.header .menu-toggler {
    margin-top: 47.5px;
}

.header.md-header {
    height: 88px;
}

.header.md-header .header-inner {
    line-height: 88px;
}

.header.md-header .menu-toggler {
    margin-top: 36.5px;
}

.header.sm-header {
    height: 44px;
}

.header.sm-header .header-inner {
    line-height: 44px;
}

.header.sm-header .menu-toggler {
    margin-top: 14.5px;
}

.header.minimized {
    height: 60px!important;
}

.header.minimized .header-inner {
    line-height: 60px!important;
}

.header.minimized .logo {
    display: none;
}

.header.minimized .alt {
    display: inline-block;
}

.header.minimized .menu-toggler {
    margin-top: 22.5px!important;
}

.header.minimized .menu>li>a:before {
    max-width: 0!important;
}

.header.minimized .menu>li>a>span:before {
    max-width: 0;
}

.header .alt {
    display: none;
}

.header.horizontal {
    width: 100%;
    height: auto;
}

.header .header-inner {
    width: 100%;
    -webkit-transition: line-height 0.4s ease;
    transition: line-height 0.4s ease;
}

.header>.pull-right,
.header .pull-left {
    position: relative;
}

.header .menu {
    margin: 0;
    display: inline-block;
}

.header .menu.bordered>li>a {
    border-right: 1px solid;
}

.header .menu>li {
    display: inline-block;
    list-style: none;
    font-size: 13px;
    margin-right: 12px;
    vertical-align: middle;
}

.header .menu>li.multiline>nav {
    top: 43px;
}

.header .menu>li.classic.dark>nav>span.arrow {
    background-image: url(../images/black.svg);
}

.header .menu>li.classic.dark>nav:before,
.header .menu>li.classic.dark>nav:after {
    height: 7px;
    background-color: #000000;
    border-color: #000000;
}

.header .menu>li.classic.dark>nav ul {
    background-color: #000000;
}

.header .menu>li.classic.dark>nav ul li a {
    color: #ffffff;
}

.header .menu>li.horizontal.dark>nav {
    background-color: #000000;
    border-bottom: 0;
}

.header .menu>li.horizontal.dark>nav ul li a {
    color: #ffffff;
}

.header .menu>li.horizontal.dark>span.arrow {
    background-image: url(../images/black.svg)!important;
}

.header .menu>li.horizontal.dark>span.arrow:before,
.header .menu>li.horizontal.dark>span.arrow:after {
    background-color: #000000!important;
    border-top: 0!important;
}

.header .menu>li.horizontal.dark .container {
    border-right-color: rgba(255, 255, 255, 0.4);
}

.header .menu>li.mega.dark .container {
    background-color: #000000;
    text-color: #ffffff;
}

.header .menu>li.mega.dark .container .sub-menu-heading {
    color: #ffffff;
}

.header .menu>li.mega.dark .container ul.sub-menu>li a {
    color: #ffffff;
}

.header .menu>li.mega.dark>span.arrow {
    background-image: url(../images/black.svg)!important;
}

.header .menu>li.mega.dark>span.arrow:after,
.header .menu>li.mega.dark>span.arrow:before {
    background-color: #000000!important;
}

.header .menu>li>a {
    position: relative;
    text-transform: uppercase;
    font-family: $font-family-secondary;
    padding-right: 21px;
    display: block;
}

.header .menu>li>a span {
    margin-bottom: 7px;
}

.header .menu>li>a:before {
    color: #000000;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    max-width: 0;
    white-space: pre;
    line-height: inherit;
    content: attr(data-text);
    -webkit-transition: max-width 0.5s;
    transition: max-width 0.5s;
}

.header .menu>li>a.btn,
.header .menu>li>a.btn:hover {
    opacity: 1;
}

.header .menu>li>a>span {
    font-size: 12px;
    font-family: Arial;
    color: inherit;
    opacity: 0.8;
    display: block;
    position: relative;
    line-height: 15px;
    text-transform: none;
}

.header .menu>li>a>span:before {
    color: #000;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    max-width: 0;
    white-space: pre;
    line-height: inherit;
    content: attr(data-text);
    -webkit-transition: max-width 0.5s;
    transition: max-width 0.5s;
}

.header .menu>li:last-child {
    border-right: none;
}

.header .menu>li.open.horizontal {
    position: relative!important;
}

.header .menu>li.open.horizontal>span.arrow {
    background-image: url(../images/white.svg);
    background-repeat: no-repeat;
    width: 14px;
    height: 7px;
    left: calc(50% - 14px);
    margin-top: 8px;
    position: absolute;
    z-index: 2;
}

.header .menu>li.open.horizontal>span.arrow:before {
    content: '';
    position: absolute;
    height: 7px;
    width: 100vw;
    background-color: #ffffff;
    display: block;
    left: -100vw;
    border-top: 1px solid #e6e6e6;
}

.header .menu>li.open.horizontal>span.arrow:after {
    content: '';
    position: absolute;
    height: 7px;
    left: 14px;
    background-color: #ffffff;
    border-top: 1px solid #e6e6e6;
    width: 100vw;
}

.header .menu>li.open.mega {
    position: relative!important;
    margin-top: -1px;
}

.header .menu>li.open.mega>span.arrow {
    background-image: url(../images/white.svg);
    background-repeat: no-repeat;
    width: 14px;
    height: 7px;
    left: calc(50% - 14px);
    margin-top: 10px;
    position: absolute;
}

.header .menu>li.open.mega>span.arrow:before {
    content: '';
    position: absolute;
    height: 7px;
    width: 100vw;
    background-color: #ffffff;
    display: block;
    left: -100vw;
    border-top: 1px solid rgba(0, 0, 0, 0.07);
    border-left: 1px solid rgba(0, 0, 0, 0.07);
}

.header .menu>li.open.mega>span.arrow:after {
    content: '';
    position: absolute;
    height: 7px;
    left: 14px;
    width: 100vw;
    background-color: #ffffff;
    border-top: 1px solid rgba(0, 0, 0, 0.07);
    border-right: 1px solid rgba(0, 0, 0, 0.07);
}

.header .menu>li.open.classic>nav {
    border-color: rgba(0, 0, 0, 0.07);
}

.header .menu>li.open>.classic {
    max-height: 999px;
}

.header .menu>li.open>.mega,
.header .menu>li.open>.horizontal {
    display: block;
}

.header .menu>li.classic {
    position: relative;
}

.header .menu>li.open>a {
    opacity: 1;
}

.header .menu>li.mega.open,
.header .menu>li.horizontal.open {
    position: inherit;
}

.header .menu>li>.classic {
    margin: 0;
    padding: 0;
    position: absolute;
    overflow: hidden;
    left: 0;
    right: 0;
    top: 34px;
    min-width: 190px;
    left: 50%;
    margin-left: -102px;
    max-height: 0;
    -webkit-transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
    border: 1px solid rgba(0, 0, 0, 0);
    border-top: 0;
}

.header .menu>li>.classic>span.arrow {
    background-image: url(../images/white.svg);
    background-repeat: no-repeat;
    width: 14px;
    height: 7px;
    left: calc(50% - 7px);
    position: absolute;
    top: 0;
}

.header .menu>li>.classic:before {
    content: '';
    position: absolute;
    height: 7px;
    width: calc(50% - 7px);
    background-color: #ffffff;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.header .menu>li>.classic:after {
    content: '';
    position: absolute;
    height: 7px;
    right: 0;
    width: calc(50% - 7px);
    background-color: #ffffff;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    top: 0;
}

.header .menu>li>.classic ul {
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #ffffff;
    margin-top: 6px;
}

.header .menu>li>.classic ul>li {
    margin: 5px 25px;
    opacity: 1;
    -webkit-transition: all 0.1s linear 0.1s;
    transition: all 0.1s linear 0.1s;
}

.header .menu>li>.classic ul>li a {
    color: #000000;
    text-transform: uppercase;
    font-family: $font-family-secondary;
    opacity: 0.5;
    font-size: 11px;
    line-height: 30px;
}

.header .menu>li>.classic ul>li a:focus {
    opacity: 0.8;
}

.header .menu>li>.classic ul>li a:hover {
    opacity: 0.8;
}

.header .menu>li>.classic ul>li a.active {
    opacity: 1;
}

.header .menu>li>.classic ul>li:first-child {
    margin-top: 20px;
}

.header .menu>li>.classic ul>li:last-child {
    margin-bottom: 20px;
}

.header .menu>li>.horizontal {
    margin: 0;
    margin-top: 15px;
    padding: 0;
    position: fixed;
    background-color: #fff;
    list-style: none;
    display: none;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 1px solid #e6e6e6;
}

.header .menu>li>.horizontal.dark {
    background-color: #000000;
}

.header .menu>li>.horizontal.dark ul li a {
    color: #ffffff;
}

.header .menu>li>.horizontal .container {
    overflow: hidden;
    border-right: 1px solid #e6e6e6;
}

.header .menu>li>.horizontal ul {
    white-space: nowrap;
    padding-left: 0;
}

.header .menu>li>.horizontal ul li {
    margin: 2px 9px 6px 9px;
    display: inline-block;
}

.header .menu>li>.horizontal ul li a {
    color: #000000;
    opacity: 0.5;
    text-transform: uppercase;
    font-family: $font-family-secondary;
    line-height: 35px;
    font-size: 11px;
}

.header .menu>li>.horizontal ul li a:focus {
    opacity: 0.8;
}

.header .menu>li>.horizontal ul li a:hover {
    opacity: 0.8;
}

.header .menu>li>.horizontal ul li a.active {
    opacity: 1;
}

.header .menu>li>.mega {
    position: fixed;
    display: none;
    left: 0;
    right: 0;
}

.header .menu>li>.mega .container {
    margin-top: 17px;
    background-color: #fff;
    list-style: none;
    padding-bottom: 20px;
    border: 1px solid rgba(0, 0, 0, 0.07);
    border-top: 0;
    padding: 50px 60px;
}

.header .menu>li>.mega .container ul.sub-menu {
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.header .menu>li>.mega .container ul.sub-menu>li {
    margin: 5px 0;
    opacity: 1;
    padding-left: 0;
    -webkit-transition: all 0.1s linear 0.1s;
    transition: all 0.1s linear 0.1s;
}

.header .menu>li>.mega .container ul.sub-menu>li a {
    color: #000000;
    text-transform: uppercase;
    font-family: $font-family-secondary;
    opacity: 0.5;
    font-size: 11px;
    line-height: 30px;
}

.header .menu>li>.mega .container ul.sub-menu>li a:focus {
    opacity: 0.8;
}

.header .menu>li>.mega .container ul.sub-menu>li a:hover {
    opacity: 0.8;
}

.header .menu>li>.mega .container ul.sub-menu>li a.active {
    opacity: 1;
}

.header .menu>li>.mega .container ul.sub-menu>li:first-child {
    margin-top: 19px;
}

.header .menu>li>.mega .container ul.sub-menu>li:last-child {
    margin-bottom: 19px;
}

.header .menu>li>.mega .container .sub-menu-heading {
    color: #000000;
    font-size: 12px;
    text-transform: uppercase;
    font-family: $font-family-secondary;
    margin: 0;
    padding-bottom: 5px;
}

.menu>li.mega>nav.mega {
    max-height: 0;
    min-width: 190px;
    overflow: hidden;
    display: block!important;
}

.menu>li.mega.open>nav.mega {
    max-height: 999px;
}

.search-toggle {
    display: inline-block;
    color: #000;
}

.header.sm-header .menu>li>.classic {
    top: 26px;
}