.bg-master {
    background-color: #626262;
}

.bg-master-light {
    background-color: #ebf0f4;
}

.bg-master-lighter {
    background-color: #f0f0f0;
}

.bg-master-lightest {
    background-color: #fafafa;
}

.bg-master-dark {
    background-color: #2c2c2c;
}

.bg-master-darker {
    background-color: #1a1a1a;
}

.bg-master-darkest {
    background-color: #121212;
}

.bg-primary {
    background-color: $color-primary;
}

.bg-primary-dark {
    background-color: darken($color-primary, 10%);
}

.bg-primary-darker {
    background-color: darken($color-primary, 25%);
}

.bg-primary-light {
    background-color: lighten($color-primary, 25%);
}

.bg-primary-lighter {
    background-color: lighten($color-primary, 25%);
}

.no-padding {
    padding: 0px!important;
}

.no-margin {
    margin: 0px!important;
}

.image-responsive-height {
    width: 100%;
}

.image-responsive-width {
    height: 100%;
}

.overlayer {
    position: absolute;
    display: block;
    z-index: 21;
}

.overlayer.fullwidth {
    width: 100%;
}

.overlayer-wrapper {
    position: relative;
    display: block;
    z-index: 10;
}

.overlay-fixed {
    position: fixed!important;
    top: auto!important;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

$base-unit: 5 !default;

@for $i from 0 through 20 {
    $value: $i*$base-unit;
    
    .p-t-#{$value} {
        padding-top: #{$value}px;
    }

    .p-r-#{$value} {
        padding-right: #{$value}px;
    }

    .p-l-#{$value} {
        padding-left: #{$value}px;
    }

    .p-b-#{$value} {
        padding-bottom: #{$value}px;
    }
    
    .padding-#{$value} {
        padding: #{$value}px;
    }
    
    @media (max-width: $screen-desktop) {
        .md-p-t-#{$value} {
            padding-top: #{$value}px;
        }
        .md-p-r-#{$value} {
            padding-right: #{$value}px;
        }
        .md-p-l-#{$value} {
            padding-left: #{$value}px;
        }
        .md-p-b-#{$value} {
            padding-bottom: #{$value}px;
        }
        .md-padding-#{$value} {
            padding: #{$value}px;
        }
    }
}

@for $i from 0 through 6 {
    $value: $i*$base-unit;
    
     @media (max-width: $screen-tablet) {
        .md-p-t-#{$value} {
            padding-top: #{$value}px;
        }
        .md-p-r-#{$value} {
            padding-right: #{$value}px;
        }
        .md-p-l-#{$value} {
            padding-left: #{$value}px;
        }
        .md-p-b-#{$value} {
            padding-bottom: #{$value}px;
        }
        .md-padding-#{$value} {
            padding: #{$value}px;
        }
    }

    @media (max-width: $screen-mobile) {
        .xs-p-t#{$value} {
            padding-top: #{$value}px;
        }
        .xs-p-r#{$value} {
            padding-right: #{$value}px;
        }
        .xs-p-l#{$value} {
            padding-left: #{$value}px;
        }
        .xs-p-b#{$value} {
            padding-bottom: #{$value}px;
        }
        .xs-padding#{$value} {
            padding: #{$value}px;
        }
    }
}

@for $i from 0 through 20 {
    $value: $i*$base-unit;
    
    .m-t-#{$value} {
        margin-top: #{$value}px!important;
    }

    .m-r-#{$value} {
        margin-right: #{$value}px!important;
    }

    .m-l-#{$value} {
        margin-left: #{$value}px!important;
    }

    .m-b-#{$value} {
        margin-bottom: #{$value}px!important;
    }
}

@media (max-width: $screen-tablet) {

    .sm-no-margin {
        margin: 0px!important;
    }
    .sm-no-padding {
        padding: 0px!important;
    }
    .sm-text-right {
        text-align: right!important;
    }
    .sm-text-left {
        text-align: left!important;
    }
    .sm-text-center {
        text-align: center!important;
    }
    .sm-pull-right {
        float: right!important;
    }
    .sm-pull-left {
        float: left!important;
    }
    .sm-pull-reset {
        float: none!important;
    }
    .sm-block {
        display: block!important;
    }
    .sm-inline {
        display: inline-block;
    }
    .sm-image-responsive-height {
        width: 100%;
        height: auto;
    }
    .sm-image-responsive-width {
        height: 100%;
        width: auto;
    }
    .sm-full-height {
        height: 100%;
        width: auto;
    }
    .sm-full-width {
        width: 100%;
        height: auto!important;
    }
    .sm-reset-position {
        position: initial;
    }
    .sm-screen-center {
        position: absolute;
        left: -50%;
    }
    .sm-static {
        position: static!important;
    }
     .sm-no-border {
        border-width: 0;
    }
    .sm-b-r,
    .sm-b-l,
    .sm-b-t,
    .sm-b-b {
        border-width: 0;
        border-style: solid;
    }
    .sm-b-r {
        border-right-width: 1px;
    }
    .sm-b-l {
        border-left-width: 1px;
    }
    .sm-b-t {
        border-top-width: 1px;
    }
    .sm-b-b {
        border-bottom-width: 1px;
    }
}

@media (max-width: $screen-mobile) {
    .xs-no-margin {
        margin: 0px!important;
    }
    .xs-no-padding {
        padding: 0px!important;
    }
    .xs-text-right {
        text-align: right!important;
    }
    .xs-text-left {
        text-align: left!important;
    }
    .xs-text-center {
        text-align: center!important;
    }
    .xs-pull-right {
        float: right!important;
    }
    .xs-pull-left {
        float: left!important;
    }
    .xs-pull-reset {
        float: none!important;
    }
    .xs-image-responsive-height {
        width: 100%;
        height: auto;
    }
    .xs-image-responsive-width {
        height: 100%;
        width: auto;
    }
    .xs-block {
        display: block;
    }
    .xs-inline {
        display: inline-block;
    }
}

.full-height {
    height: 100%!important;
}

.full-width {
    width: 100%;
}

.full-vh {
    height: 100vh;
}

.hide {
    display: none;
}

.inline {
    display: inline-block!important;
}

.block {
    display: block;
}

.b-blank {
    border-color: #000;
}

.b-a,
.b-r,
.b-l,
.b-t,
.b-b {
    border-style: solid;
    border-width: 0;
}

.b-r {
    border-right-width: 1px;
}

.b-l {
    border-left-width: 1px;
}

.b-t {
    border-top-width: 1px;
}

.b-b {
    border-bottom-width: 1px;
}

.b-a {
    border-width: 1px;
}

.b-dashed {
    border-style: dashed;
}

.b-thick {
    border-width: 2px;
}

.b-transparent {
    border-color: rgba(0, 0, 0, 0.4);
}

.b-transparent-white {
    border-color: rgba(255, 255, 255, 0.3);
}

.b-grey {
    border-color: #e6e6e6;
}

.b-grey-light {
    border-color: rgba(0, 0, 0, 0.07);
}

.b-white {
    border-color: #fff;
}

.b-primary {
    border-color: #6d5cae;
}

.b-complete {
    border-color: #6d5cae;
}

.b-success {
    border-color: #10cfbd;
}

.b-info {
    border-color: #3b4752;
}

.b-danger {
    border-color: #f55753;
}

.b-warning {
    border-color: #f8d053;
}

.b-rad-sm {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

.b-rad-md {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.b-rad-lg {
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
}

.no-border {
    border: none!important;
}

.relative {
    position: relative!important;
}

.container-xs-height {
    display: table;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.row-xs-height {
    display: table-row;
}

.col-xs-height {
    display: table-cell;
    float: none;
}

section.last:before {
    content: '';
}

@media (min-width: 768px) {
    .container-sm-height {
        display: table;
        padding-left: 0px;
        padding-right: 0px;
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;
    }
    .row-sm-height {
        display: table-row;
    }
    .col-sm-height {
        display: table-cell!important;
        float: none!important;
    }
}

@media (min-width: 992px) {
    .container-md-height {
        display: table;
        padding-left: 0px;
        padding-right: 0px;
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;
    }
    .row-md-height {
        display: table-row;
    }
    .col-md-height {
        display: table-cell!important;
        float: none!important;
    }
}

@media (min-width: $screen-large) {
    .container-lg-height {
        display: table;
        padding-left: 0px;
        padding-right: 0px;
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;
    }
    .row-lg-height {
        display: table-row;
    }
    .col-lg-height {
        display: table-cell!important;
        float: none!important;
    }
}

.z-index-1 {
    z-index: 0;
}

.z-index-1 {
    z-index: 1;
}

.z-index-2 {
    z-index: 2;
}

.z-index-3 {
    z-index: 3;
}

.z-index-10 {
    z-index: 10;
}

.visible-xlg {
    display: none;
}

.hidden-xlg {
    display: block;
}

@media (min-width: 1824px) {
    .visible-xlg {
        display: block!important;
    }
    .hidden-xlg {
        display: none!important;
    }
    .visible-xlg {
        display: block!important;
    }
    .hidden-xlg {
        display: none!important;
    }
}

@media only screen and (min-width: $screen-large) {
    .vcenter {
        position: relative;
        -webkit-transform: translateY(50%);
        -ms-transform: translateY(50%);
        transform: translateY(50%);
    }
}
