img {
    max-width: 100%
}

.lazy {
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

.lazy.loaded {
    opacity: 1;
}

.logo-client {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    padding: 8px;
    filter: grayscale(100%);
    transition: filter .3s; 

    &:hover, 
    &:focus {
        filter: grayscale(0%);
    }

    img {
        max-height: 100%;
    }
}