img {
    max-width: 100%
}

.lazy {
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

.lazy.loaded {
    opacity: 1;
}

.logo-client {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    padding: 8px;
    transition: filter .3s; 

    img {
        max-height: 100%;
    }
}

.image-semi-round {
    border-radius: 5px;
}

.swiper-button-prev {
    left: 0;
}

.swiper-button-next {
    right: 0;
}

.swiper-container {
    height: 250px;
}

.swiper-button-black {
    opacity: .3;
    transition: opacity .2s;
}

.swiper-button-black:hover,
.swiper-button-black:focus {
    opacity: 1;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
    opacity: 0
}