@import "bootstrap";
@import "variables";
@import "mixins";
@import "scaffold";
@import "type";
@import "buttons";
@import "form";
@import "header";
@import "nav";
@import "helpers";
@import "image";
@import "card";
@import "grid";

.mobile-wrapper {
    height: 100%;
    width: 100%;
}

.mobile-wrapper>.swiper-wrapper>.swiper-slide {
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: initial;
    display: block;
}

.overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.95);
    z-index: 1010;
    overflow: auto;
}

.overlay .inline-block {
    display: inline-block;
}

.overlay .overlay-brand {
    margin-left: 7px;
}

.overlay>div {
    width: 100%;
    height: 260px;
    display: block;
    overflow: hidden;
}

.overlay .has-results {
    overflow: visible;
}

.overlay .overlay-search {
    font-weight: 300;
    font-size: 77px;
    height: 120px;
    letter-spacing: -1.925px;
    line-height: 100px;
    padding-left: 0!important;
}

.overlay .overlay-close {
    position: absolute;
    right: 20px;
    top: 25px;
}

.jumbotron {
    position: relative;
    overflow: hidden;
    display: block;
    padding: 0;
    margin-bottom: 0;
    background-color: #f0f0f0;
}

.jumbotron .inner {
    position: relative;
    z-index: 2;
}

.jumbotron.lg {
    height: 600px;
}

.jumbotron h1 {
    font-size: 44px;
    color: #2c2c2c;
}

.pace .pace-progress {
    background-color: #6d5cae;
}

[data-pages-bg-image] {
    background-size: cover;
    position: relative;
}

[data-pages-bg-image]>* {
    z-index: 1;
    position: relative;
}

[data-pages-bg-image]>.bg-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: .4;
}

.swiper-wrapper {
    transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1);
    -webkit-transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1);
    transition-duration: 0ms;
    -webkit-transition-duration: 0ms;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-container:hover .auto-reveal.swiper-button-next {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.swiper-container:hover .auto-reveal.swiper-button-prev {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.swiper-container .mouse-wrapper {
    margin: 0 auto;
    display: block;
    width: 28px;
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    bottom: 37px;
}

.swiper-container .mouse {
    width: 30px;
    height: 47px;
    border: 2px solid #fff;
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
}

.swiper-container .mouse .mouse-scroll {
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background: #fff;
    position: relative;
    top: 10px;
    left: 11px;
    -webkit-animation: scrolls 1.3s ease-out infinite;
}

@-webkit-keyframes scrolls {
    0% {
        top: 10px;
        opacity: 1;
        height: 4px;
    }
    95% {
        top: 18px;
        opacity: 0;
        height: 10px;
    }
    100% {
        top: 8px;
        opacity: 1;
        height: 4px;
    }
}

.swiper-container .go-down {
    margin: auto;
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    bottom: -50px;
    right: 0;
    left: 0;
    background-color: #fff;
    z-index: 10;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background-color: #fff;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.swiper-slide .background-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.swiper-slide .background-wrapper .background {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
}

.image {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.image>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.slider-wrapper {
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    position: absolute;
    overflow: hidden;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
}

.content-layer {
    z-index: 10000;
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

[data-pages-animation|=custom] {
    visibility: hidden;
}

[data-pages-animation|=standard] {
    visibility: hidden;
}

.swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    margin: 0 3px;
}

.swiper-pagination-bullet-active {
    background: #2c2c2c;
}

.swiper-pagination.swiper-pagination-light .swiper-pagination-bullet,
.swiper-pagination.swiper-pagination-light .swiper-pagination-bullet-active {
    background: #fff;
}

.swiper-pagination.swiper-pagination-dark .swiper-pagination-bullet,
.swiper-pagination.swiper-pagination-dark .swiper-pagination-bullet-active {
    background: #2c2c2c;
}

.swiper-navigation {
    width: 47px;
    height: 53px;
    line-height: 53px;
    background-image: none;
    font-size: 20px;
    font-family: 'pages-icon';
    text-align: center;
}

.swiper-navigation.swiper-button-next {
    right: 0;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.swiper-navigation.swiper-button-next:before {
    content: "\e631";
}

.swiper-navigation.swiper-button-prev {
    left: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.swiper-navigation.swiper-button-prev:before {
    content: "\e629";
}

.swiper-navigation.swiper-dark-solid {
    background-color: #121212;
    color: #ffffff;
}

.swiper-navigation.swiper-white-solid {
    background-color: #ffffff;
    color: #121212;
}

.swiper-navigation.swiper-rounded {
    width: 49px;
    height: 49px;
    line-height: 49px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
}

.swiper-navigation.swiper-rounded.swiper-button-next {
    right: 10px;
}

.swiper-navigation.swiper-rounded.swiper-button-prev {
    left: 10px;
}

.swiper-navigation.auto-reveal {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.swiper-navigation.auto-reveal.swiper-button-next {
    -webkit-transform: translateX(200%);
    -ms-transform: translateX(200%);
    transform: translateX(200%);
}

.swiper-navigation.auto-reveal.swiper-button-prev {
    -webkit-transform: translateX(-200%);
    -ms-transform: translateX(-200%);
    transform: translateX(-200%);
}

@media only screen and (min-width: $screen-large) {
    .swiper-navigation.swiper-rounded.swiper-button-next {
        right: 25px;
    }
    .swiper-navigation.swiper-rounded.swiper-button-prev {
        left: 25px;
    }
}

.portlet-progress {
    background: rgba(255, 255, 255, 0.8);
    bottom: 0;
    left: 0;
    position: absolute!important;
    right: 0;
    top: 0;
    display: none;
    z-index: 2;
}

.portlet-progress>.progress,
.portlet-progress>.progress.progress-small {
    height: 3px;
}

.portlet-progress>.progress-circle-indeterminate,
.portlet-progress>.portlet-bar-indeterminate {
    display: block;
    left: 50%;
    margin-left: -17px;
    margin-top: -17px;
    position: absolute;
    top: 50%;
}

.portlet-progress>.progress-circle-indeterminate {
    width: 35px;
    height: 35px;
}

.portlet-icon {
    -moz-osx-font-smoothing: grayscale;
    font-family: "pages-icon";
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-transform: none;
}

.portlet-icon-close:before {
    content: "\e60a";
}

.portlet-icon-maximize:before {
    content: "\e634";
}

.portlet-icon-refresh:before {
    content: "\e600";
}

.portlet-icon-collapse:before {
    content: "\e62c";
}

.portlet-icon-settings:before {
    content: "\e655";
}

.portlet-icon-refresh-lg-master,
.portlet-icon-refresh-lg-white {
    width: 15px;
    height: 15px;
    display: block;
    background-size: cover;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

.portlet-icon-refresh-lg-master.fade,
.portlet-icon-refresh-lg-white.fade {
    opacity: 0.1;
}

.portlet-icon-refresh-lg-master {
    background-image: url('../images/progress/progress-circle-lg-master-static.svg');
}

.portlet-icon-refresh-lg-white {
    background-image: url('../images/progress/progress-circle-lg-white-static.svg');
}

.portlet-icon-refresh-lg-master-animated,
.portlet-icon-refresh-lg-white-animated {
    width: 15px;
    height: 15px;
    display: block;
    background-size: cover;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

.portlet-icon-refresh-lg-master-animated.active,
.portlet-icon-refresh-lg-white-animated.active {
    opacity: 1;
}

.portlet-icon-refresh-lg-master-animated {
    background-image: url('../images/progress/progress-circle-lg-master.svg');
}

.portlet-icon-refresh-lg-white-animated {
    background-image: url('../images/progress/progress-circle-lg-white.svg');
}

.ui-sortable-handle {
    transition: max-height 0.3s ease 0s;
}

.sortable .grid .grid-title {
    cursor: move;
}

.ui-sortable {
    min-height: 0px!important;
}

.ui-sortable-placeholder {
    border: 1px dotted black;
    visibility: visible!important;
    height: 100%!important;
}

.ui-sortable-placeholder * {
    visibility: hidden;
}

.sortable-box-placeholder {
    background-color: #f0f0f0;
    border: 1px dashed #e6e6e6;
    display: block;
    margin-top: 0px!important;
    margin-bottom: 24px!important;
}

.sortable-box-placeholder * {
    visibility: hidden;
}

.sortable-column {
    padding-bottom: 100px;
}

.demo-portlet-scrollable {
    height: 158px;
}

.pager .disabled>button,
.pager .disabled>button:hover,
.pager .disabled>button:focus,
.pager .disabled>span {
    cursor: not-allowed;
    opacity: .5;
}

.popover {
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 9px rgba(191, 191, 191, 0.36);
    z-index: 790;
}

.bg-overlay {
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

.content-triangle {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 70px solid transparent;
    border-bottom: 100px solid white;
}

.content-triangle:before {
    content: '';
    position: absolute;
    left: -100%;
    width: 100vw;
    height: 100px;
    background: white;
}

.content-triangle:after {
    content: '';
    position: absolute;
    right: 70px;
    width: 100vw;
    height: 100px;
    background: white;
}

.icon-list .fa-item {
    display: block;
    color: #121212;
    line-height: 32px;
    height: 32px;
    padding-left: 10px;
}

.icon-list .fa-item>i {
    width: 32px;
    font-size: 14px;
    display: inline-block;
    text-align: right;
    margin-right: 10px;
}

.thumbnail-wrapper {
    display: inline-block;
    overflow: hidden;
    float: left;
}

.visible-xlg {
    display: none;
}

.hidden-xlg {
    display: block;
}

@media (max-width: $screen-tablet) {
    .header .menu>li {
        display: block;
    }
    .header .menu-content .header-inner {
        line-height: 0!important;
    }
    .menu-content {
        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        height: 100%;
        width: 250px;
        background-color: #fff;
        z-index: 10;
        overflow-y: auto;
    }
    body.menu-opened>.header:before {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 10;
        content: '';
    }
}

@media (min-width: $screen-large) {
    .row-same-height {
        overflow: hidden;
    }
    .row-same-height>[class*="col-lg"] {
        margin-bottom: -99999px;
        padding-bottom: 99999px;
    }
}

@media (max-width: $screen-tablet) {
    .header.dark .menu-content .menu>li>a:not(.btn):hover,
    .header.light .menu-content .menu>li>a:not(.btn):hover,
    .header.light-solid .menu-content .menu>li>a:not(.btn):hover,
    .header.transparent-dark .menu-content .menu>li>a:not(.btn):hover,
    .header.transparent-light .menu-content .menu>li>a:not(.btn):hover,
    .header.dark .menu-content .menu>li>a:not(.btn):active,
    .header.light .menu-content .menu>li>a:not(.btn):active,
    .header.light-solid .menu-content .menu>li>a:not(.btn):active,
    .header.transparent-dark .menu-content .menu>li>a:not(.btn):active,
    .header.transparent-light .menu-content .menu>li>a:not(.btn):active {
        opacity: 0.7;
    }
    .header.dark .menu-content .menu>li>a:not(.btn):visited,
    .header.light .menu-content .menu>li>a:not(.btn):visited,
    .header.light-solid .menu-content .menu>li>a:not(.btn):visited,
    .header.transparent-dark .menu-content .menu>li>a:not(.btn):visited,
    .header.transparent-light .menu-content .menu>li>a:not(.btn):visited,
    .header.dark .menu-content .menu>li>a:not(.btn):focus,
    .header.light .menu-content .menu>li>a:not(.btn):focus,
    .header.light-solid .menu-content .menu>li>a:not(.btn):focus,
    .header.transparent-dark .menu-content .menu>li>a:not(.btn):focus,
    .header.transparent-light .menu-content .menu>li>a:not(.btn):focus {
        opacity: 0.7;
    }
    .header.dark .menu-content .menu>li>a:not(.btn).active,
    .header.light .menu-content .menu>li>a:not(.btn).active,
    .header.light-solid .menu-content .menu>li>a:not(.btn).active,
    .header.transparent-dark .menu-content .menu>li>a:not(.btn).active,
    .header.transparent-light .menu-content .menu>li>a:not(.btn).active {
        background-color: #000000;
        color: #ffffff;
    }
    .header.dark .menu-content.mobile-dark a:not(.btn),
    .header.light .menu-content.mobile-dark a:not(.btn),
    .header.light-solid .menu-content.mobile-dark a:not(.btn),
    .header.transparent-dark .menu-content.mobile-dark a:not(.btn),
    .header.transparent-light .menu-content.mobile-dark a:not(.btn) {
        color: #788195!important;
    }
    .header.dark .menu-content.mobile-dark a:not(.btn):hover,
    .header.light .menu-content.mobile-dark a:not(.btn):hover,
    .header.light-solid .menu-content.mobile-dark a:not(.btn):hover,
    .header.transparent-dark .menu-content.mobile-dark a:not(.btn):hover,
    .header.transparent-light .menu-content.mobile-dark a:not(.btn):hover,
    .header.dark .menu-content.mobile-dark a:not(.btn):active,
    .header.light .menu-content.mobile-dark a:not(.btn):active,
    .header.light-solid .menu-content.mobile-dark a:not(.btn):active,
    .header.transparent-dark .menu-content.mobile-dark a:not(.btn):active,
    .header.transparent-light .menu-content.mobile-dark a:not(.btn):active {
        color: #ffffff!important;
    }
    .header.dark .menu-content.mobile-dark a:not(.btn):visited,
    .header.light .menu-content.mobile-dark a:not(.btn):visited,
    .header.light-solid .menu-content.mobile-dark a:not(.btn):visited,
    .header.transparent-dark .menu-content.mobile-dark a:not(.btn):visited,
    .header.transparent-light .menu-content.mobile-dark a:not(.btn):visited,
    .header.dark .menu-content.mobile-dark a:not(.btn):focus,
    .header.light .menu-content.mobile-dark a:not(.btn):focus,
    .header.light-solid .menu-content.mobile-dark a:not(.btn):focus,
    .header.transparent-dark .menu-content.mobile-dark a:not(.btn):focus,
    .header.transparent-light .menu-content.mobile-dark a:not(.btn):focus {
        color: #788195;
    }
    .header.dark .menu-content.mobile-dark a:not(.btn).active,
    .header.light .menu-content.mobile-dark a:not(.btn).active,
    .header.light-solid .menu-content.mobile-dark a:not(.btn).active,
    .header.transparent-dark .menu-content.mobile-dark a:not(.btn).active,
    .header.transparent-light .menu-content.mobile-dark a:not(.btn).active {
        color: #fff;
    }
    .header.dark .menu-content.mobile-dark.mobile-dark p,
    .header.light .menu-content.mobile-dark.mobile-dark p,
    .header.light-solid .menu-content.mobile-dark.mobile-dark p,
    .header.transparent-dark .menu-content.mobile-dark.mobile-dark p,
    .header.transparent-light .menu-content.mobile-dark.mobile-dark p {
        color: #788195;
    }
    .header.dark .menu-content.mobile-dark.mobile-dark .menu>li>a:not(.btn),
    .header.light .menu-content.mobile-dark.mobile-dark .menu>li>a:not(.btn),
    .header.light-solid .menu-content.mobile-dark.mobile-dark .menu>li>a:not(.btn),
    .header.transparent-dark .menu-content.mobile-dark.mobile-dark .menu>li>a:not(.btn),
    .header.transparent-light .menu-content.mobile-dark.mobile-dark .menu>li>a:not(.btn) {
        color: #788195;
    }
    .header.dark .menu-content.mobile-dark.mobile-dark .menu>li>a:not(.btn):hover,
    .header.light .menu-content.mobile-dark.mobile-dark .menu>li>a:not(.btn):hover,
    .header.light-solid .menu-content.mobile-dark.mobile-dark .menu>li>a:not(.btn):hover,
    .header.transparent-dark .menu-content.mobile-dark.mobile-dark .menu>li>a:not(.btn):hover,
    .header.transparent-light .menu-content.mobile-dark.mobile-dark .menu>li>a:not(.btn):hover,
    .header.dark .menu-content.mobile-dark.mobile-dark .menu>li>a:not(.btn):active,
    .header.light .menu-content.mobile-dark.mobile-dark .menu>li>a:not(.btn):active,
    .header.light-solid .menu-content.mobile-dark.mobile-dark .menu>li>a:not(.btn):active,
    .header.transparent-dark .menu-content.mobile-dark.mobile-dark .menu>li>a:not(.btn):active,
    .header.transparent-light .menu-content.mobile-dark.mobile-dark .menu>li>a:not(.btn):active {
        color: #ffffff!important;
    }
    .header.dark .menu-content.mobile-dark.mobile-dark .menu>li>a:not(.btn):visited,
    .header.light .menu-content.mobile-dark.mobile-dark .menu>li>a:not(.btn):visited,
    .header.light-solid .menu-content.mobile-dark.mobile-dark .menu>li>a:not(.btn):visited,
    .header.transparent-dark .menu-content.mobile-dark.mobile-dark .menu>li>a:not(.btn):visited,
    .header.transparent-light .menu-content.mobile-dark.mobile-dark .menu>li>a:not(.btn):visited,
    .header.dark .menu-content.mobile-dark.mobile-dark .menu>li>a:not(.btn):focus,
    .header.light .menu-content.mobile-dark.mobile-dark .menu>li>a:not(.btn):focus,
    .header.light-solid .menu-content.mobile-dark.mobile-dark .menu>li>a:not(.btn):focus,
    .header.transparent-dark .menu-content.mobile-dark.mobile-dark .menu>li>a:not(.btn):focus,
    .header.transparent-light .menu-content.mobile-dark.mobile-dark .menu>li>a:not(.btn):focus {
        color: #788195;
    }
    .header.dark .menu-content.mobile-dark.mobile-dark .menu>li>a:not(.btn).active,
    .header.light .menu-content.mobile-dark.mobile-dark .menu>li>a:not(.btn).active,
    .header.light-solid .menu-content.mobile-dark.mobile-dark .menu>li>a:not(.btn).active,
    .header.transparent-dark .menu-content.mobile-dark.mobile-dark .menu>li>a:not(.btn).active,
    .header.transparent-light .menu-content.mobile-dark.mobile-dark .menu>li>a:not(.btn).active {
        background-color: #272b35;
        color: #fff;
    }
    .header .menu>li>a:before,
    .header .menu>li>a>span:before {
        display: none;
    }
    .header:last-child.header {
        top: -200%;
    }
    .header.bg-header .menu-content .header-inner {
        line-height: initial;
    }
    .menu-content .menu>li.classic>nav ul,
    .menu-content .menu>li.horizontal>nav,
    .menu-content .menu>li.mega .container {
        background-color: #f0f0f0;
    }
    .menu-content.mobile-dark {
        background-color: #2b303b!important;
    }
    .menu-content.mobile-dark .menu>li.classic>nav ul,
    .menu-content.mobile-dark .menu>li.horizontal>nav,
    .menu-content.mobile-dark .menu>li.mega .container {
        background-color: #21252d;
    }
    .menu-content.mobile-dark ul li .sub-menu-heading {
        color: #ffffff!important;
        opacity: 1;
    }
    .menu-content .menu>li.mega .container {
        margin-top: 0;
    }
    .menu-content .menu>li>a:not(.btn) {
        margin-bottom: 0!important;
    }
    .menu-content ul {
        width: 100%;
        padding: 0;
    }
    .menu-content ul li {
        padding: 0;
        margin-right: 0!important;
    }
    .menu-content ul li a {
        opacity: 1!important;
        padding: 10px 10px 10px 35px;
    }
    .menu-content ul li .sub-menu-heading {
        padding: 20px 10px 10px 35px;
        opacity: 0.5;
    }
    [data-pages-direction="slideLeft"] {
        display: block;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        -ms-transform: translate(-100%, 0);
        -webkit-transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
        transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
    }
    .menu-opened {
        overflow-y: hidden;
    }
    .menu-opened [data-pages-direction="slideLeft"] {
        -webkit-transform: translate3d(0%, 0, 0);
        transform: translate3d(0%, 0, 0);
        -ms-transform: translate(0%, 0);
    }
    [data-pages-direction="slideRight"] {
        display: block;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        -ms-transform: translate(100%, 0);
        -webkit-transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
        transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
    }
    .menu-opened {
        overflow-y: hidden;
    }
    .menu-opened [data-pages-direction="slideRight"] {
        -webkit-transform: translate3d(0%, 0, 0);
        transform: translate3d(0%, 0, 0);
        -ms-transform: translate(0%, 0);
    }
    [data-pages-direction="slideTop"] {
        display: block;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        -ms-transform: translate(0, -100%);
        -webkit-transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
        transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
    }
    .menu-opened {
        overflow-y: hidden;
    }
    .menu-opened [data-pages-direction="slideTop"] {
        -webkit-transform: translate3d(0, calc(0% + 65px), 0);
        transform: translate3d(0, calc(0% + 65px), 0);
        -ms-transform: translate(0, calc(0% + 65px));
    }
    .header .menu>li>.classic {
        top: 0!important;
        position: relative;
        left: auto;
        right: auto;
        margin-left: 0;
    }
    .header .menu>li>.classic:before,
    .header .menu>li>.classic:after,
    .header .menu>li>.classic .arrow {
        display: none;
    }
    .header .menu>li>.classic ul>li {
        margin: 5px 0;
    }
    .header .menu>li>.classic ul>li:first-child {
        margin-top: 17px;
    }
    .header .menu>li>.classic ul>li:last-child {
        margin-bottom: 17px;
    }
    .header .menu>li>.mega {
        position: relative;
        margin-top: 0;
        border: 0;
    }
    .header .menu>li>.mega .container {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 0;
    }
    .header .menu>li>.horizontal {
        position: relative;
        margin-top: 0;
        border: 0;
    }
    .header .menu>li>.horizontal .container {
        padding: 0;
    }
    .header .menu>li>.horizontal .container>ul {
        padding: 15px 0;
        margin: 0;
    }
    .header .menu>li>.horizontal .container>ul>li {
        margin: 5px;
        display: block;
    }
    .header .menu>li.horizontal>span.arrow {
        display: none;
    }
    .header .menu>li.mega>span.arrow {
        display: none;
    }
    
    .header.transparent-light .menu>li>a:not(.btn) {
        color: #121212;
        margin-bottom: 10px;
    }
    .header.dark .menu>li>a:not(.btn) {
        color: #121212;
    }
}

@media (min-width: 992px) {
    .row-same-height {
        overflow: hidden;
    }
    .row-same-height>[class*="col-md"] {
        margin-bottom: -99999px;
        padding-bottom: 99999px;
    }
    .header.static {
        position: static;
    }
    .header.static .affix {
        position: fixed!important;
        top: 0;
        width: 100%;
    }
    .clip-mega-menu {
        overflow: hidden;
    }
}

@media (min-width: 768px) {
    .row-same-height {
        overflow: hidden;
    }
    .row-same-height>[class*="col-sm"] {
        margin-bottom: -99999px;
        padding-bottom: 99999px;
    }
}

@media (max-width: 767px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
    .menu-content {
        width: 270px;
        overflow-y: auto;
    }
    .logo {
        display: inline-block;
    }
    .header {
        height: 70px;
    }
    .header .header-inner {
        line-height: 70px;
    }
    .header .menu-toggler {
        margin-top: 27.5px;
    }
    .header.md-header {
        height: 88px;
    }
    .header.md-header .header-inner {
        line-height: 88px;
    }
    .header.md-header .menu-toggler {
        margin-top: 36.5px;
    }
    .header.sm-header {
        height: 44px;
    }
    .header.sm-header .header-inner {
        line-height: 44px;
    }
    .header.sm-header .menu-toggler {
        margin-top: 14.5px;
    }
    .swiper-slide.fit h1 {
        font-size: 6vh;
        line-height: 7.5vh;
    }
    .swiper-slide.fit h2 {
        font-size: 3vh;
        line-height: 5vh;
    }
    .swiper-slide.fit h3 {
        font-size: 2vh;
        line-height: 4vh;
    }
    .swiper-slide.fit h4 {
        font-size: 3vh;
        line-height: 4.5vh;
    }
    .swiper-slide.fit h5 {
        font-size: 1.5vh;
        line-height: 1.8vh;
    }
}

.logo-size--lg {
    width: 100px;
}

.home-section-image {
    position: relative
}

.home-section-image__right {
    height: 240px;
    margin: auto;
}

@media (min-width: 640px) {
    .home-section-image__right {
        height: 300px;
        position: relative;
        z-index: 100;
    }
}

.header-logo__title {
    font-size: 24px;
    font-weight: 600;
}

.header-logo__subtitle {}

.section-with-gradient {
    position: relative;
    padding-top: 130px;
    background-image: linear-gradient(-32deg, #b721ff 0, #21d4fd 100%);
    overflow: hidden;
}

.section-with-gradient:after {
    content: '';
    display: block;
    position: absolute;
    left: -10px;
    right: -10px;
    z-index: 10;
    top: calc(100% - 40px);
    background-color: white;
    min-height: 300px;
    transform: rotate(-6.5deg);
    transform-origin: 0 0 0;
}

.footer {
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
    box-shadow: inset 0 5px 10px rgba(0,0,0,0.1)
}

.divider-sm {
    background-image: linear-gradient(-32deg, #b721ff 0, #21d4fd 100%);
    height: 1px;
}
