---
layout: default
---
<article class="p-b-50 p-t-50 blog-article">
  <div class="container p-b-50 p-t-50">
    <div class="m-t-20">
      <a href="/blog">&larr; back to Blog</a>
    </div>
    
    <div class="row">
      <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <div class="m-b-50 text-center">
          <h1 class="m-t-50 color-text-gradient">
            {{ page.title }}
          </h1>
          {% unless page.sub-title == null %}<h2 class="block-title m-t-0">{{ page.sub-title }}</h2>{% endunless %}
        </div>
        
        <div class="entry">
          {{ content }}
        </div>
      </div>
    </div>
  </div>        
</article>